[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group ldap/oran-gerrit-ric-plt-jaegeradapter-committers
	owner = group saml/oran-gerrit-ric-plt-jaegeradapter-committers
	read = group GitHub Replication
[project]
	description = This repository includes files needed for starting the Jaeger Agent in a side-car container, and also files needed for \nstarting Jaeger all-in-one of full collector containers.
